<div class="row">
  <div class="col-12"></div>
    <h1 class="text-center mt-4 mb-5 text-white">Rick And Morty Characters</h1>
</div>

<div class="row">
  <div class="col-6 mb-3 text-white">
    <p>Number of characters: {{ charactersInfo.count }} | Current page: {{page}}/ {{ charactersInfo.pages }} </p>
    <app-search-form (onFormSubmit)="filterCharacters($event)"></app-search-form>
  </div>
  <div class="col-6 text-end mt-4">
   <app-pagination pages="charactersInfo.pages"></app-pagination>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 mb-3" *ngFor="let character of characters">
    <app-character-card [character]="character"></app-character-card>
  </div>
</div>