<div *ngIf="location">

    <div class="row">
        <div class="col-sm-12 mb-3 ms-auto me-auto text-center">
            <div class="card">
                <div class="card-header">
                    <h3> {{ location.name }}</h3>
                </div>
                <div class="card-body">
                    <div>
                        Type: {{ location.type }}
                    </div>
                    <div>
                        Dimension: {{ location.dimension }}
                    </div>
                    <div>
                        Residents: {{ location.residents.length }}
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success mt-2" [routerLink]="['/locations']">
                        Back
                    </a> 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let character of characters" class="col-sm-4 mb-3">
            <app-character-card [character]="character"></app-character-card>
        </div>
    </div>

</div>